QWidget {
    background-color: #ededed;
    font-family: "SF Pro Display", "Inter", "-apple-system", "BlinkMacSystemFont", "Segoe UI", sans-serif;
    border: 3px solid #131314;
    border-radius: 15px;
}