QWidget {
    background-color: #131314;
    font-family: "SF Pro Display", "Inter", "-apple-system", "BlinkMacSystemFont", "Segoe UI", sans-serif;
    border: 1px solid #28282a;
    border-radius: 15;
}