QPushButton {
    background: transparent;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    padding: 0px;
}

QPushButton:hover {
    background: rgba(255, 255, 255, 0.08);
}

QPushButton:pressed {
    background: кgba(112, 112, 112, 0.619);
    color: #0a84ff;
    padding: 0px;
}

QPushButton:checked {
    background: rgba(112, 112, 112, 0.619);
    color: #0a84ff;
}