QPushButton {
    background: transparent;
    border: none;
    border-radius: 5px;
    color: #1c1c1e;
    font-size: 17px;
    font-weight: 500;
    padding: 0px;
}

QPushButton:hover {
    background: rgba(0, 0, 0, 0.06);
}

QPushButton:pressed {
    background: rgba(112, 112, 112, 0.35);
    color: #0a84ff;
    padding: 0px;
}

QPushButton:checked {
    background: rgba(112, 112, 112, 0.35);
    color: #0a84ff;
}